.row
  .col-md-6.col-md-offset-3
    = link_to new_store_path, class: 'btn btn-success pull-right' do
      %i.glyphicon.glyphicon-plus
      Add Store
    %p.lead Stores List

    - if @stores.count > 0
      %table.table.table-striped.table-hover
        %tr
          %th Name
          %th Delete
        - @stores.each do |s|
          %tr
            %td
              = s.store
            %td
              = link_to s, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } do
                %i.glyphicon.glyphicon-trash
    - else
      %p.text-danger There are no stores to display.
