!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = @ticket.subject
    %p
      = @ticket.content
    %strong
      - if @ticket.store
        %strong= @ticket.store.store
      - else
        %span No Store
    %p
      = link_to "View this ticket online.", ticket_path(@ticket)
