!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = @ticket.subject
    %p
      = @ticket.content
    %a{:href => "https://gumrohelpdesk.herokuapp.com"} See all tickets.
