!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = @ticket.subject
    %p
      = @ticket.content
    %p
      = link_to "View this ticket online.", ticket_path(@ticket)
