<div class="row">
  <div class="col-md-3">
    <h4>Trashed Tickets</h4>
  </div>

  <%= render 'tickethead' %>

  <div class="col-md-2">
    <%= link_to new_ticket_path, class: 'btn btn-success' do %>
      <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> New Ticket
    <% end %>
  </div>
</div>

<%= grid(@tickets_grid) do |g|
  g.blank_slate "There are no tickets."

  g.column name: 'Priority', attribute: 'priority', filter: false do |ticket|
    link_to priority_status_ticket_path(ticket) do
      if ticket.priority
        '<i class="glyphicon glyphicon-bookmark" style="color: red" aria-hidden="true"></i>'.html_safe
      else
        '<i class="glyphicon glyphicon-bookmark" style="color: #e6e6e6" aria-hidden="true"></i>'.html_safe
      end
    end
  end

  g.column  name: 'Subject', attribute: 'subject' do |ticket|
    link_to ticket.subject, ticket
  end

  g.column name: 'Message', attribute: 'content' do |ticket|
    truncate(ticket.content, length: 100, separator: ' ')
  end

  g.column name: 'Created At', attribute: 'created_at', filter: false do |ticket|
    "Created " + time_ago_in_words(ticket.created_at) + " ago."
  end

  g.column do |ticket|
    link_to open_status_ticket_path(ticket), class: "btn btn-default" do
      '<i class="glyphicon glyphicon-inbox" aria-hidden="true"></i>'.html_safe
    end
  end
end -%>
