.panel.panel-default
  .panel-heading
    %p.lead Manage
  .panel-body
    %p.text-uppercase= link_to "Carriers", carriers_path
    %p.text-uppercase= link_to "Locations", locations_path
    %p.text-uppercase= link_to "Stores", stores_path
